 <div class="user-details">
  <h1> Hi there! </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-photoshop-plain colored"></i>
      <p>Other than styling web pages with bootstrap, I was once a 2D designer and is familiar with Photoshop.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Java and Javascript is my most used language. I am also exposed to different scripting and programming languages during my study. They are listed below.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
        <i class="devicon-git-plain"></i>
        <i class="devicon-intellij-plain colored"></i>
        <i class="devicon-atom-original colored"></i>
      <p>I have used different tools to facilitate my development. Atom is my favourite editor. I have also used different IDEs such as Andriod Studios or Visual Studio according to the situation.</p>
    </div>
</div>
<div class="supp">
  <div class="exposure">
  <h2>Exposure to</h2>
  <i class="devicon-python-plain colored"></i>
  <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
  <i class="devicon-mongodb-plain-wordmark colored"></i>
  <i class="devicon-c-line colored"></i>
  <i class="devicon-ruby-plain-wordmark colored"></i>
  <p>I have been learning and experimenting with different things in the field of Computer Science.</p>
</div>
</div>
