<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="line-height:0;margin-top:0em"> The Witch Doctor</h3>
    <h4 style="padding-top:0em;line-height:0">Final Year Project</h4>
    <ul>
      <li> IoT Development, A.I.</li>
    </ul>
    <p>A web application, which is a chat bot that can perform sentiment analysis base on user's dialog.</p>
    <a class="project-link" style="" href="#">Under Development</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 style="line-height:0;padding-top:1.5em">Feedee</h3>
    <h4 style="margin-top:0em;padding-top:0em;line-height:0">Group Project</h4>
    <ul>
      <li>Web Application with responsive design</li>
    </ul>
    <p>An online platform for buying and selling take-aways.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
